<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add New Area</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
               <app-area-editor></app-area-editor>
                    </div>
                </div>
            </div>
      
        </div>
    </div>
  </div>
  