<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="card">
    <div class="card-header card-header-warning" >
      <h4 class="card-title">Restaurants List</h4>
    </div>
    <div class="card-content table-responsive table-full-width">
      <table class="table">
        <thead class="text-danger">
          <th>Arabic Name</th>
          <th>English Name</th>
        </thead>
        <tbody>
          <tr *ngFor="let res of restaurants">
            <td>{{res.name_ar}}</td>
            <td>{{res.name_en}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>