<!-- <input
  style="display: none"
  type="file" (change)="onFileChanged($event)"
  #fileInput>
<button (click)="fileInput.click()">Select File</button>
<button (click)="onUpload()">Upload!</button> -->

<div class="container">
  <h1>Restaurant Logo 
      <small></small>
  </h1>
  <div class="avatar-upload">
      <div class="avatar-edit">
          <input type='file' (change)="onFileChanged($event)" id="imageUpload" accept=".png, .jpg, .jpeg" />
          <label for="imageUpload"></label>
      </div>
      <div class="avatar-preview">
          <div id="image-preview" [ngStyle]="{'background-image': 'url(' + imageSrc + ')'}" ></div>
      </div>
   
  </div>
  
</div>