<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Restaurant Info</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <app-restaurant-profile-editor></app-restaurant-profile-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>