// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              $red-200 !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              $light-blue-900!default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;
