<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="card">
    <div class="card-header card-header-warning" >
      <h4 class="card-title">Area List</h4>
    </div>
    <div class="card-content table-responsive table-full-width">
      <table class="table">
        <thead class="text-danger">
          <th>Arabic Name</th>
          <th>English Name</th>
        </thead>
        <tbody>
          <tr *ngFor="let area of areas">
            <td>{{area.name_ar}}</td>
            <td>{{area.name_en}}</td>
            <td><a  [routerLink]="['/area/update/',area.id]" class="btn btn-dfault">Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>