<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
   <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <div class="row">
      <div class="col-md-5">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="name_ar" placeholder="Arabic Name">
          </mat-form-field>
      </div>
      <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput formControlName="name_en" placeholder="English Name">
          </mat-form-field>
      </div>
   
  </div>

  <button mat-raised-button type="submit"  [disabled]="!profileForm.valid" class="btn btn-danger pull-right">Add Area</button>
  <div class="clearfix"></div>
</form>