<mat-form-field>
  <mat-select [ngModel]="selectedCategory" (ngModelChange)="onChange($event)" placeholder="Select Category">
    <mat-option  *ngFor="let Category of categories" [value]="Category.id">
      {{Category.name_ar}}
    </mat-option>
  </mat-select>
</mat-form-field>