<div class="main-content">
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <a routerLink="/category/add" class="btn btn-danger">Add New</a>
      </div>
    </div>
  </div>
  <app-category-table></app-category-table>
</div>
