<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let item of menu" class="col-md-4">
        <mat-card class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img mat-card-image class="img res-logo" [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,' + item.encoded_image)"
                alt="Photo of a Shiba Inu">
            </a>
          </div>

          <mat-card-header>
            <mat-card-title class="card-title">{{item.name_ar}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{item.address}}</p>
          </mat-card-content>
          <mat-card-actions>
            <a [routerLink]="['/restaurants/menu-items/update/',resturantId,item.id]" class="btn btn-danger">Edit</a>
            <button mat-button>Delete</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </div>
</div>