<mat-form-field>
    <mat-select [ngModel]="selectedArea" (ngModelChange)="onChange($event)" placeholder="Select Area">
      <mat-option  *ngFor="let area of areas" [value]="area.id">
        {{area.name_ar}}
      </mat-option>
    </mat-select>
  </mat-form-field>