<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let res of restaurants" class="col-md-4">
            <mat-card class="card card-profile">
                    <div class="card-avatar">
                            <a href="#pablo">
                                    <img mat-card-image class="img res-logo" [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,' + res.encoded_image)"  alt="Photo of a Shiba Inu">
                            </a>
                        </div>
                <mat-card-header>
                  <mat-card-title class="card-title">{{res.name_ar}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>{{res.address}}</p>  
                </mat-card-content>
                <mat-card-actions>
                  <a  [routerLink]="['/restaurants/update/',res.id]" class="btn btn-danger">Edit</a>
                  <a  [routerLink]="['/restaurants/menu-items/',res.id]" class="btn btn-success">Menu</a>
                  <button mat-button>Delete</button>
                </mat-card-actions>
              </mat-card>
      </div>
    </div>

</div>
</div>