<form [formGroup]="profileForm"  >
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
   <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-5">
          <mat-form-field class="example-full-width">
              <input matInput formControlName="name_ar" placeholder="Arabic Name">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="name_en" placeholder="English Name">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput  formControlName="email" placeholder="Email address" type="email">
            </mat-form-field>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <input matInput formControlName="address_ar" placeholder="Address_ar" type="text">
          </mat-form-field>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <input matInput formControlName="address_en" placeholder="Address_en" type="text">
        </mat-form-field>
      </div>
  </div>
    <div class="row">
        <div class="col-md-4">
      
     <app-area-select [areaFromParent]="areaValueFromParent" (messageEvent)="receiveArea($event)"></app-area-select>
  
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput formControlName="tel"  placeholder="Tel" type="text">
          </mat-form-field>
        </div>
    </div>
  
    <button mat-raised-button (click)="sendData()"  [disabled]="!profileForm.valid" class="btn btn-danger pull-right">Save</button>
    <div class="clearfix"></div>
    </div>
    <div class="col-md-6">
      <app-file-upload [imageFromParent]="imageValueFromParent"  (messageEvent)="receiveImageId($event)"></app-file-upload>
    </div>
  </div>

</form>