<div class="main-content">
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <a  [routerLink]="['/restaurants/menu-items/add',resId]" class="btn btn-danger">Add New</a>
      </div>
    </div>
  </div>

<app-menu-items-cards [resturantId]="resId"></app-menu-items-cards>
</div>